
.body-features-section {
    display: flex;
    flex-direction: column;
  }
  
  @media (min-width: 920px) {
    .body-features-section {
      flex-direction: row;
    }
  }
  
.body-feature-section-icon {
    width: 100px;
    border: 10px solid #00bc77;
    border-radius: 50%;
    padding: 1rem;
  }
  
  .body-feature-section-item {
    flex: 1;
    padding: 2.5rem;
  }
  
  .body-feature-section-item-title {
    color: #222;
    font-size: 1.25rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
  }